#OurGoalsBanner {
  height: 200px;
  background-color: rgba(16, 97, 122, 0.75);
  display: flex;
  align-items: center;
}
#PRTBannerLogo {
  height: 180px;
  width: 180px;
  margin-top: 10px;
  object-fit: contain;
  font-weight: normal;
}
#OurGoalsBannerHeader {
  display: flex;
  color: white;
  font-family: Impact;
  letter-spacing: 2px;
  margin-left: 39.5%;
  font-size: 500%;
}
#SchoolBannerLogo, #SchoolBannerLogoLink {
  width: 180px;
  height: 180px;
  float: right;
  display: flex;
  margin-left: 29%;
  margin-right: 10px;
}
#FirstBannerLogo {
  width: 180px;
  height: 180px;
  object-fit: contain;
  margin-left: 0px;
  margin-right: 10px;
}
.AnimatedMenu {
  background-color: rgb(84, 139, 126);
  margin-top: 0px;
  height: 9px;
  overflow: hidden;
  transition: height 0.25s ease;
  text-align: center;
}
.AnimatedMenu:hover {
  height: 800px;
}
.Option {
  text-wrap: nowrap;
  font-family: Impact;
  color: white;
  font-size: 400%;
}
.Option:hover {
  color: rgba(16, 97, 122, 0.75);
}
#OptionAboutUs {
  margin-top: 0px;
  padding-top: 10px;
}
#OurGoalsBody {
  margin: 0px;
}
.Link {
  text-decoration: none;
}
.Option {
  text-decoration: none;
}
